asgiref==3.7.2
certifi==2024.2.2
chardet==3.0.4
charset-normalizer==3.3.2
Django==5.0.1
django-cpf==0.1.0
django-localflavor==4.0
django-phonenumber-field==7.3.0
django-postalcodes==0.4.0
geographiclib==2.0
geopy==2.4.1
idna==2.7
localflavor==1.9
phonenumberslite==8.13.29
pillow==10.2.0
python-stdnum==1.19
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.9.0
tzdata==2023.4
urllib3==1.24.3
