body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
}

.container {
    background-color: #F1C400;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(33, 18, 164, 0.1);
    padding: 20px;
    width: 400px;
    min-height: 300px; /* Alterado para min-height para garantir que o contêiner tenha pelo menos 300px de altura */
    text-align: left;
    color: #000000;
    overflow: auto; /* Adicionado para permitir rolar caso o conteúdo seja maior que o contêiner */
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 6px;
}



input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4E008E;
    color: #F1C400;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    transform: scaleY(1.125);
    background-color: #7a10d2;
}
