body {
    overflow-x: hidden;
}


.retangulo_nav {
    width: 1440vw;
    height: 212px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #F1C400;
}

.circulo_foto {
    width: 156px;
    height: 156px;
    left: 1325px;
    top: 19px;
    position: absolute;
    border-radius: 9999px;
}

.perfil_usuario {
    left: 89px;
    top: 182px;
    position: absolute;
    color: black;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 600;
    word-wrap: break-word;
}

.perfil_host {
    left: 267px;
    top: 182px;
    position: absolute;
    color: black;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 600;
    word-wrap: break-word;
}

.perfil_host_titulo {
    left: 89px;
    top: 37px;
    position: absolute;
}

.perfil_host_titulo,
.perfil_host_titulo .host_nav,
.perfil_host_titulo .organizadora {
    color: #4E008E;
    font-size: 48px;
    font-family: Outfit;
    font-weight: 600;
    word-wrap: break-word;
}

.perfil_nav_host {
    color: white;
    font-size: 48px;
    font-family: Outfit;
    font-weight: 600;
    word-wrap: break-word;
}

.host_nav{
    color: #4E008E;
}

.ola_usuario {
    left: 89px;
    top: 226px;
    position: absolute;
    color: #F1C400;
    font-size: 64px;
    font-family: Outfit;
    font-weight: 600;
    word-wrap: break-word;
}

.email_usuario {
    left: 60%;
    top: 50%;
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: Outfit;
    font-weight: 200;
    word-wrap: break-word;
}

.motivo {
    left: 89px;
    top: 80%;
    position: absolute;
    color: black;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 200;
    word-wrap: break-word;
    max-width: 500px;
}

.area_gastronomica {
    left: 89px;
    top: 60%;
    position: absolute;
    color: black;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 200;
    word-wrap: break-word;
}

.local_servico_desc {
    left: 754px;
    top: 70%;
    position: absolute;
    color: black;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 200;
    word-wrap: break-word;
}

.frequencia_servico {
    left: 754px;
    top: 60%;
    position: absolute;
    color: black;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 200;
    word-wrap: break-word;
}

.servicos_disponiveis {
    left: 91px;
    top: 70%;
    position: absolute;
    color: black;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 200;
    word-wrap: break-word;
}

.fundo {
    width: 1440px;
    height: 239px;
    left: 0px;
    top: 785px;
    position: absolute;
}

.retangulo_footer {
    width: 1440vw;
    height: 239px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #F1C400;
}

.home_footer {
    left: 722px;
    top: 103px;
    position: absolute;
    color: black;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 200;
    word-wrap: break-word;
}

.host {
    left: 845px;
    top: 105px;
    position: absolute;
    color: black;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 200;
    word-wrap: break-word;
}

.logo_footer {
    left: 89px;
    top: 79px;
    position: absolute;
    color: #4E008E;
    font-size: 64px;
    font-family: Outfit;
    font-weight: 500;
    word-wrap: break-word;
}

.slogan_footer {
    width: 274px;
    left: 1047px;
    top: 94px;
    position: absolute;
    text-align: right;
    color: #4E008E;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 700;
    word-wrap: break-word;
}

.direitos_reservados_footer {
    left: 91px;
    top: 148px;
    position: absolute;
    text-align: right;
    color: black;
    font-size: 13px;
    font-family: Roboto;
    font-weight: 100;
    word-wrap: break-word;
}

.local_servico {
    left: 754px;
    top: 80%;
    position: absolute;
    color: black;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 200;
    word-wrap: break-word;
}

.editar_perfil {
    left: 87.8%;
    top: 24%;
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: Outfit;
    font-weight: 200;
    word-wrap: break-word;
}

a{
    text-decoration: none;
    transition: color 0.3s ease; /* Adicionar transição suave */
  }
  
  a:hover {
    color: #4E008E; 
  }

  .fa-solid, .fa-house{
    font-size: 50px;
    color: #4E008E;
  }

  .reservas{
    z-index: 2;
    font-size: 24px;
    position: absolute;
    top: 48%;
    left: 91px;
    color: black;
    font-family: Outfit;
  } 

 .reservas a {
    color: #F1C400;
    text-decoration: none;
  }

  .reservas a:hover {
    color: #4E008E;
  }

  .imagem_usuario {
    width: 156px;
    height: 156px;
    left: 1160px;
    top: 14px;
    position: absolute;
    border-radius: 9999px;
  }

  
