/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
}

.container {
    background-color: #F1C400;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(33, 18, 164, 0.1);
    padding: 20px;
    width: 400px;
    min-height: 300px; /* Alterado para min-height para garantir que o contêiner tenha pelo menos 300px de altura */
    /* text-align: left;
    color: #000000;
    overflow: auto; Adicionado para permitir rolar caso o conteúdo seja maior que o contêiner
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 6px;
}



input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4E008E;
    color: #F1C400;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    transform: scaleY(1.125);
    background-color: #7a10d2;
}  */

.retangulo_nav {
    width: 1440px;
    height: 212px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #F1C400;
}

.editar_perfil {
    left: 1039px;
    top: 86px;
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: Outfit;
    font-weight: 300;
    word-wrap: break-word;
}

.circulo_foto {
    width: 156px;
    height: 156px;
    left: 1165px;
    top: 19px;
    position: absolute;
    border-radius: 9999px;
}

.perfil_usuario {
    left: 89px;
    top: 182px;
    position: absolute;
    color: black;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 600;
    word-wrap: break-word;
}

.perfil_host {
    left: 267px;
    top: 182px;
    position: absolute;
    color: black;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 600;
    word-wrap: break-word;
}

.perfil_host_titulo {
    left: 89px;
    top: 37px;
    position: absolute;
}

.perfil_host_titulo .perfil_nav_host,
.perfil_host_titulo .host_nav,
.perfil_host_titulo .organizadora {
    font-size: 48px;
    font-family: Outfit;
    font-weight: 600;
    word-wrap: break-word;
}

.ola_usuario {
    left: 89px;
    top: 250px;
    position: absolute;
    color: #F1C400;
    font-size: 64px;
    font-family: Outfit;
    font-weight: 600;
    word-wrap: break-word;
}

.email_usuario {
    left: 91px;
    top: 321px;
    position: absolute;
    color: black;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 200;
    word-wrap: break-word;
}

.motivo {
    left: 89px;
    top: 406px;
    position: absolute;
    color: black;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 200;
    word-wrap: break-word;
}

.area_gastronomica {
    left: 89px;
    top: 504px;
    position: absolute;
    color: black;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 200;
    word-wrap: break-word;
}

.local_servico_desc {
    left: 754px;
    top: 596px;
    position: absolute;
    color: black;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 200;
    word-wrap: break-word;
}

.frequencia_servico {
    left: 754px;
    top: 406px;
    position: absolute;
    color: black;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 200;
    word-wrap: break-word;
}

.servicos_disponiveis {
    left: 91px;
    top: 596px;
    position: absolute;
    color: black;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 200;
    word-wrap: break-word;
}

.fundo {
    width: 1440px;
    height: 239px;
    left: 0px;
    top: 785px;
    position: absolute;
}

.retangulo_footer {
    width: 1440px;
    height: 239px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #F1C400;
}

.home_footer {
    left: 722px;
    top: 103px;
    position: absolute;
    color: black;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 200;
    word-wrap: break-word;
}

.host {
    left: 845px;
    top: 105px;
    position: absolute;
    color: black;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 200;
    word-wrap: break-word;
}

.logo_footer {
    left: 89px;
    top: 79px;
    position: absolute;
    color: #4E008E;
    font-size: 64px;
    font-family: Outfit;
    font-weight: 500;
    word-wrap: break-word;
}

.slogan_footer {
    width: 274px;
    left: 1047px;
    top: 94px;
    position: absolute;
    text-align: right;
    color: #4E008E;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 700;
    word-wrap: break-word;
}

.direitos_reservados_footer {
    left: 91px;
    top: 148px;
    position: absolute;
    text-align: right;
    color: black;
    font-size: 13px;
    font-family: Roboto;
    font-weight: 100;
    word-wrap: break-word;
}

.local_servico {
    left: 754px;
    top: 495px;
    position: absolute;
    color: black;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 200;
    word-wrap: break-word;
}

.editar_perfil {
    left: 523px;
    top: 888px;
    position: absolute;
    color: black;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 200;
    word-wrap: break-word;
}

/* O restante do CSS foi omitido por brevidade. */
