body{
    margin:0 ;
    overflow: hidden;
}

.fa-solid, .fa-house{
  font-size: 50px;
  color: #F1C400;
}


.retangulo_nav {
    width: 100vw;
    height: 212px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #4E008E;
    
  }

  .perfil_list {
    list-style: none;
    padding: 0;
    position: absolute;
    left: 66%;
    white-space: nowrap;
    top: 5px;
  }
  
  .ola_usuario {
    left: 89px;
    top: 226px;
    position: absolute;
    color: #4E008E;
    font-size: 64px;
    font-family: Outfit;
    font-weight: 600;
    word-wrap: break-word;
  }
  
  .perfil_usuario {
    left: 89px;
    top: 182px;
    position: absolute;
    color: white;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 600;
    word-wrap: break-word;
  }
  
  .perfil_host {
    left: 267px;
    top: 182px;
    position: absolute;
    color: white;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 600;
    word-wrap: break-word;
    white-space: nowrap;
  }
  
  .titulo_perfil_host {
    left: 89px;
    top: 37px;
    position: absolute;
  }
  
  .titulo_perfil_host .span_perfil {
    color: white;
    font-size: 48px;
    font-family: Outfit;
    font-weight: 600;
    word-wrap: break-word;
  }
  
  .titulo_perfil_host .espaco_perfil_usuario {
    color: black;
    font-size: 48px;
    font-family: Outfit;
    font-weight: 600;
    word-wrap: break-word;
  }
  
  .titulo_perfil_host .usuario_titulo {
    color: #F1C400;
    font-size: 48px;
    font-family: Outfit;
    font-weight: 600;
    word-wrap: break-word;
  }
  
  .editar_perfil_convidado {
    left: 87.3%;
    top: 27%;
    position: absolute;
    color: white;
    font-size: 20px;
    font-family: Outfit;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .email_usuario {
    left: 68.8;
    top: 55px;
    position: absolute;
    color: white;
    font-size: 20px;
    font-family: Outfit;
    font-weight: 200;
    word-wrap: break-word;
  }
  
  .cpf_usuario {
    top: 106px;
    position: absolute;
  }
  
  .cpf_usuario .cpf {
    color: white;
    font-size: 20px;
    font-family: Outfit;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .cpf_usuario .numero_cpf {
    color: white;
    font-size: 20px;
    font-family: Outfit;
    font-weight: 200;
    word-wrap: break-word;
  }

  .cep_usuario {
    top: 131px;
    position: absolute;
  }
  
  .cep_usuario .cep {
    color: white;
    font-size: 20px;
    font-family: Outfit;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .cep_usuario .numero_cep {
    color: white;
    font-size: 20px;
    font-family: Outfit;
    font-weight: 200;
    word-wrap: break-word;
  }
  
  .cidade_usuario {
    left: 91px;
    top: 56%;
    position: absolute;
    color: black;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 200;
    word-wrap: break-word;
  }
  
  .estado_usuario {
    left: 91px;
    top: 64%;
    position: absolute;
    color: black;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 200;
    word-wrap: break-word;
  }
  
  .telefone_usuario {
    left: 68.8%;
    top: 81px;
    position: absolute;
    color: white;
    font-size: 20px;
    font-family: Outfit;
    font-weight: 200;
    word-wrap: break-word;
  }
  
  .data_nascimento_usuario {
    left: 91px;
    top: 72%;
    position: absolute;
    color: black;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 200;
    word-wrap: break-word;
  }
  
  .idiomas {
    left: 722px;
    top: 64%;
    position: absolute;
    color: black;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 200;
    word-wrap: break-word;
  }
  
  .restricoes_alimentares {
    left: 722px;
    top: 100%;
    position: absolute;
    color: black;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 200;
    word-wrap: break-word;
  }

  .bebida_favorita {
    left: 722px;
    top: 72%;
    position: absolute;
    color: black;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 200;
    word-wrap: break-word;
  }
  
  .comida_favorita {
    left: 723px;
    top: 80%;
    position: absolute;
    color: black;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 200;
    word-wrap: break-word;
  }
  
  .profissao_usuario {
    left: 91px;
    top: 80%;
    position: absolute;
    color: black;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 200;
    word-wrap: break-word;
  }
  
  .sobre_usuario {
    left: 91px;
    top: 100%;
    position: absolute;
    color: black;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 200;
    word-wrap: break-word;
  }
  
  .hobbies {
    left: 722px;
    top: 56%;
    position: absolute;
    color: black;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 200;
    word-wrap: break-word;
  }

  .reservas{
    z-index: 2;
    font-size: 24px;
    position: absolute;
    top: 48%;
    left: 91px;
    color: black;
    font-family: Outfit;
  }

  .reservas a {
    color: #4E008E;
    text-decoration: none;
  }

  .reservas a:hover {
    color: #F1C400;
  }

  
  .imagem_usuario {
    width: 156px;
    height: 156px;
    left: 1100px;
    top: 19px;
    position: absolute;
    border-radius: 9999px;
  }
  
  .footer_retangulo {
    width: 1440px;
    height: 239px;
    left: 0px;
    top: 1000px;
    position: absolute;
  }
  
  .footer_retangulo2 {
    width: 100vw;
    height: 239px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #4E008E;
  }
  
  .editar_perfil {
    left: 539px;
    top: 105px;
    position: absolute;
    color: white;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 200;
    word-wrap: break-word;
  }
  
  .home_footer {
    left: 722px;
    top: 103px;
    position: absolute;
    color: white;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 200;
    word-wrap: break-word;
  }
  
  .host_footer {
    left: 845px;
    top: 105px;
    position: absolute;
    color: white;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 200;
    word-wrap: break-word;
  }
  
  .flavorxp_footer {
    width: auto;
    left: 89px;
    top: 79px;
    position: absolute;
    color: #F1C400;
    font-size: 64px;
    font-family: Outfit;
    font-weight: 500;
    word-wrap: break-word;
  }
  
  .slogan_footer {
    width: 274px;
    left: 1047px;
    top: 94px;
    position: absolute;
    text-align: right;
    color: #F1C400;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 700;
    word-wrap: break-word;
  }
  
  .direitos_reservados {
    left: 91px;
    top: 932px;
    position: absolute;
    text-align: right;
    color: white;
    font-size: 13px;
    font-family: Roboto;
    font-weight: 100;
    word-wrap: break-word;
  }
  
  a{
    text-decoration: none;
    transition: color 0.3s ease; /* Adicionar transição suave */
  }
  
  a:hover {
      color: #F1C400; /* Mudar a cor ao passar o mouse */
  }
  
  .sobre_usuario {
    max-width: 30%; /* Defina a largura máxima da div conforme necessário */
    margin: 0 auto; /* Isso centraliza a div horizontalmente */
    overflow: hidden; /* Isso oculta o conteúdo que ultrapassa o limite de largura */
}

.sobre_usuario p {
    margin: 0; /* Isso remove as margens padrão do parágrafo */
    overflow: hidden; /* Isso garante que o conteúdo excedente seja ocultado */
    word-wrap: break-word; /* Isso permite que o texto seja quebrado em várias linhas se necessário */
    display: block; /* Isso faz com que cada parágrafo seja exibido em um bloco separado, abaixo do anterior */
}

