.imagem_evento {
  width: 100vw;
  height: 1024px;
  left: 0px;
  top: 0px;
  position: absolute;
}

.link_nome_host {
  text-decoration: none;
  cursor: pointer;
}

.link_nome_host, .nome_da_marca:hover {
  color:rgb(54, 54, 54)
  
}

.gradiente_imagem {
  width: 100vw;
  height: 1024px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.67) 0%, rgba(0, 0, 0, 0) 100%);
}

.nome_do_evento {
  position: absolute;
  color: white;
  font-size: 110px;
  font-family: Outfit;
  font-weight: 700;
  word-wrap: break-word;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.convidados1 {
  left: 451px;
  top: 1306px;
  position: absolute;
  color: black;
  font-size: 20px;
  font-family: Outfit;
  font-weight: 100;
  word-wrap: break-word;
}

.estilo_da_experiencia {
  left: 121px;
  top: 1306px;
  position: absolute;
  color: black;
  font-size: 20px;
  font-family: Outfit;
  font-weight: 100;
  word-wrap: break-word;
}

.quadrado_conteudo1 {
  width: 194px;
  height: 194px;
  left: 121px;
  top: 1331px;
  position: absolute;
  background: #F1C400;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.jantar {
  font-size: 20px;
  font-family: Outfit;
  position: absolute;
  bottom: 22px;
  left: 16%;
  color: white;
}


.nome_da_marca_oferece {
  left: 75px;
  top: 1133px;
  position: absolute;
  
}

.nome_da_marca {
  color: black;
  font-size: 64px;
  font-family: Outfit;
  font-weight: 700;
  word-wrap: break-word;
}

.oferece {
  color: #4E008E;
  font-size: 64px;
  font-family: Outfit;
  font-weight: 700;
  word-wrap: break-word;
}

.barra1 {
  width: 1260px;
  height: 0px;
  left: 75px;
  top: 1245px;
  position: absolute;
  border: 4px black solid;
}

.barra2 {
  width: 1260px;
  height: 0px;
  left: 75px;
  top: 1920px;
  position: absolute;
  border: 4px black solid;
}

.descricao {
  width: 522px;
  left: 121px;
  top: 1609px;
  position: absolute;
}

.descricao_evento {
  color: black;
  font-size: 24px;
  font-family: Outfit;
  font-weight: 700;
  word-wrap: break-word;
}

.texto_descricao {
  color: black;
  font-size: 24px;
  font-family: Outfit;
  font-weight: 200;
  word-wrap: break-word;
}

.barra3 {
  width: 220px;
  height: 0px;
  left: 720px;
  top: 1583px;
  position: absolute;
  transform: rotate(90deg);
  transform-origin: 0 0;
  border: 4px black solid;
}

.icone_estilo_experiencia {
  width: 90px;
  height: 90px;
  left: 166px;
  top: 1380px;
  position: absolute;
}

.cardapio {
  left: 777px;
  top: 1574px;
  position: absolute;
  color: black;
  font-size: 20px;
  font-family: Outfit;
  font-weight: 100;
  word-wrap: break-word;
}

.quadrado_conteudo_roxo {
  width: 194px;
  height: 194px;
  left: 777px;
  top: 1599px;
  position: absolute;
  background: #4E008E;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}


.convidados {
  left: 449px;
  top: 1306px;
  position: absolute;
  color: black;
  font-size: 20px;
  font-family: Outfit;
  font-weight: 100;
  word-wrap: break-word;
}

.quadrado_conteudo2 {
  width: 194px;
  height: 194px;
  left: 449px;
  top: 1331px;
  position: absolute;
  background: #F1C400;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.convidados {
  left: 493px;
  top: 1478px;
  position: absolute;
  color: white;
  font-size: 20px;
  font-family: Outfit;
  font-weight: 400;
  word-wrap: break-word;
}

.fa-book {
  font-size: 100px;
  margin: auto;
  top: 1630px;
  left: 830px;
  overflow: hidden;
  position: absolute;
}

.botão_agendar {
  width: 429px;
  height: 73px;
  background: black;
  border-radius: 4px;
}

.fa-wine-bottle {
  font-size: 100px;
  margin: auto;
  overflow: hidden;
  position: absolute;
  top: 1630px;
  left: 1150px;
}

.fa-utensils {
  font-size: 100px;
  margin: auto;
  top: 1365px;
  left: 165px;
  overflow: hidden;
  position: absolute;
}

.fa-circle-exclamation {
  font-size: 100px;
  margin: auto;
  top: 1365px;
  left: 1150px;
  overflow: hidden;
  position: absolute;
}

.numero_convidados {
  width: 52px;
  height: 96px;
  left: 520px;
  top: 1359px;
  position: absolute;
  color: black;
  font-size: 96px;
  font-family: Outfit;
  font-weight: 400;
  word-wrap: break-word;
}

.incluso_restricao {
  left: 1105px;
  top: 1306px;
  position: absolute;
  color: black;
  font-size: 20px;
  font-family: Outfit;
  font-weight: 100;
  word-wrap: break-word;
}

.quadrado_conteudo3 {
  width: 194px;
  height: 194px;
  left: 1105px;
  top: 1331px;
  position: absolute;
  background: #F1C400;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.tipo_restricao {
  left: 1179px;
  top: 1478px;
  position: absolute;
  color: white;
  font-size: 20px;
  font-family: Outfit;
  font-weight: 400;
  word-wrap: break-word;
}

.data_e_horario {
  left: 777px;
  top: 1306px;
  position: absolute;
  color: black;
  font-size: 20px;
  font-family: Outfit;
  font-weight: 100;
  word-wrap: break-word;
}

.quadrado_conteudo4 {
  width: 194px;
  height: 194px;
  left: 777px;
  top: 1331px;
  position: absolute;
  background: #F1C400;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.data {
  left: 792px;
  top: 1380px;
  position: absolute;
  color: black;
  font-size: 16px;
  font-family: Outfit;
  font-weight: 400;
  word-wrap: break-word;
}

.as {
  left: 863px;
  top: 1423px;
  position: absolute;
  color: black;
  font-size: 20px;
  font-family: Outfit;
  font-weight: 400;
  word-wrap: break-word;
}

.horario {
  left: 838px;
  top: 1473px;
  position: absolute;
  color: black;
  font-size: 24px;
  font-family: Outfit;
  font-weight: 400;
  word-wrap: break-word;
}

.icone_cardapio {
  width: 60.27px;
  height: 103.33px;
  left: 844px;
  top: 1632px;
  position: absolute;
  background: white;
}

.acesse {
  left: 842px;
  top: 1747px;
  position: absolute;
  color: white;
  font-size: 20px;
  font-family: Outfit;
  font-weight: 600;
  word-wrap: break-word;
}

.bebidas_oferecidas {
  left: 1105px;
  top: 1574px;
  position: absolute;
  color: black;
  font-size: 20px;
  font-family: Outfit;
  font-weight: 100;
  word-wrap: break-word;
}

.quadrado_conteudo_roxo2 {
  width: 194px;
  height: 194px;
  left: 1105px;
  top: 1599px;
  position: absolute;
  background: #4E008E;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.acesse2 {
  left: 1170px;
  top: 1747px;
  position: absolute;
  color: white;
  font-size: 20px;
  font-family: Outfit;
  font-weight: 600;
  word-wrap: break-word;
}

.localizacao {
  left: 75px;
  top: 1996px;
  position: absolute;
  color: black;
  font-size: 48px;
  font-family: Outfit;
  font-weight: 700;
  word-wrap: break-word;
}

.sombra {
  width: 480px;
  height: 586px;
  left: 480px;
  bottom: 10px;
  top: 2387px;
  position: absolute;
  background: white;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 1px black solid;

}



.descricao_do_evento_no_card_de_pagamento {
  width: 429px;
  left: 506px;
  top: 2644px;
  position: absolute;
  text-align: center;
  color: black;
  font-size: 36px;
  font-family: Outfit;
  font-weight: 700;
  word-wrap: break-word;
}

.iframe-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* semi-transparent background */
  z-index: 9999;
  /* ensure it appears on top of other content */
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe {
  width: 80%;
  height: 80%;
  border: none;
  border-radius: 10px;
}


.local_localizacao {
  width: 1260px;
  height: 290px;
  left: 75px;
  top: 2076px;
  position: absolute;

}

.retangulo_degrade_pgto {
  width: 454px;
  height: 99px;
  left: 493px;
  top: 2414px;
  position: absolute;
  background: linear-gradient(94deg, #4E008E 0%, #4E008E 80%, #F1C400 100%);
  border-radius: 10px;
}

.valor_da_experiencia {
  left: 531px;
  top: 2439px;
  position: absolute;
  color: white;
  font-size: 40px;
  font-family: Outfit;
  font-weight: 700;
  word-wrap: break-word;
}

.preco {
  left: 581px;
  top: 2538px;
  position: absolute;
  color: black;
  font-size: 64px;
  font-family: Outfit;
  font-weight: 700;
  word-wrap: break-word;
}

.botão_agendar {
  width: 429px;
  height: 73px;
  left: 506px;
  top: 2876px;
  position: absolute;
  background: black;
  border-radius: 4px;
}

.texto_agendar_pgto {
  left: 639px;
  top: 2888px;
  position: absolute;
  color: white;
  font-size: 40px;
  font-family: Outfit;
  font-weight: 700;
  word-wrap: break-word;
  background-color: black;
}

body,
html {
  margin: auto;
  overflow-x: hidden;
}