body {
    overflow-y: hidden;
}

.box_shadow_img {
    width: 60%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
}

.box_shadow_img2 {
    width: 60%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    background: rgba(0, 0, 0, 0.40);
}

.faça_seu_cadastro {
    left: 65.5%;
    top: 10%;
    position: absolute;
    text-align: center;
    z-index: 10;
}

.quadrado_roxo {
    width: 34.7%;
    height: 69%;
    left: 63%;
    top: 25%;
    position: absolute;
    background: #4E008E;
    border-radius: 4px;
}

.usuario {
    left: 871px;
    top: 421px;
    position: absolute;
    text-align: center;
    color: #F1C400;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 600;
    word-wrap: break-word;
}

.usuario_label {
    width: 301px;
    height: 21px;
    left: 966px;
    top: 425px;
    position: absolute;
    background: #D9D9D9;
    border-radius: 2px;
}

.email {
    left: 870px;
    top: 482px;
    position: absolute;
    text-align: center;
    color: #F1C400;
    font-size: 20px;
    font-family: Outfit;
    font-weight: 600;
    word-wrap: break-word;
}

.email_label {
    width: 301px;
    height: 21px;
    left: 966px;
    top: 486px;
    position: absolute;
    background: #D9D9D9;
    border-radius: 2px;
}

.senha {
    left: 870px;
    top: 543px;
    position: absolute;
    text-align: center;
    color: #F1C400;
    font-size: 20px;
    font-family: Outfit;
    font-weight: 600;
    word-wrap: break-word;
}

.senha_label {
    width: 136px;
    height: 21px;
    left: 946px;
    top: 547px;
    position: absolute;
    background: #D9D9D9;
    border-radius: 2px;
}

.conf_senha {
    left: 870px;
    top: 604px;
    position: absolute;
    color: #F1C400;
    font-size: 20px;
    font-family: Outfit;
    font-weight: 600;
    word-wrap: break-word;
}

.conf_senha_label {
    width: 136px;
    height: 21px;
    left: 1041px;
    top: 606px;
    position: absolute;
    background: #D9D9D9;
    border-radius: 2px;
}

.botao {
    width: 172px;
    height: 28px;
    left: 1015px;
    top: 669px;
    position: absolute;
    background: #F1C400;
    border-radius: 3px;
}

.cadastre-se {
    left: 1058px;
    top: 673px;
    position: absolute;
    color: black;
    font-size: 15px;
    font-family: Outfit;
    font-weight: 400;
    word-wrap: break-word;
}

.login {
    left: 975px;
    top: 715px;
    position: absolute;
    color: white;
    font-size: 15px;
    font-family: Outfit;
    font-weight: 400;
    word-wrap: break-word;
}

.textos {
    width: 60%;
    left: 2%;
    top: 35%;
    position: absolute;
}


.span_faca_seu,
.span_cad,
.span_e {
    font-size: 48px;
    font-family: Outfit;
    font-weight: 600;
    word-wrap: break-word;
}

.span_cad {
    color: #4E008E;
}

.span_e {
    color: #F1C400;
}


.span_descubra {
    color: white;
    font-size: 40px;
    font-family: Outfit;
    font-weight: 600;
    word-wrap: break-word;
}

.span_exp-exc {
    color: #F1C400;
    font-size: 40px;
    font-family: Outfit;
    font-weight: 600;
    word-wrap: break-word;
}

.span_mergulhe {
    color: white;
    font-size: 40px;
    font-family: Outfit;
    font-weight: 600;
    word-wrap: break-word;
}

/* Estilos para o formulário */
.container {
    width: 30%;
    padding: 20px;
    z-index: 11;
    position: relative;
    left: 30.5%;
    margin-top: 12%;
}

h2 {
    font-size: 24px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px;
    margin-bottom: 0px;
    color: #F1C400;
    font-family: Outfit;
}

p{
    margin:0
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #F1C400;
    color: #000000;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Outfit;
}

button:hover {
    background-color: #D19700;
}

h6 {
    margin-top: 15px;
    font-size: 14px;
    color: #ffffff;
}



a:hover {
    text-decoration: underline;
}


/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:#ffffff;
}

.container {
    background-color: #F1C400;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(33, 18, 164, 0.1);
    padding: 20px;
    width: 320px;
    height: 555px;
    text-align: center;
    color: #000000;
    overflow: auto;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 6px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4E008E;
    color: #F1C400;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {

    transform: scaleY(1.125);
    background-color: #7a10d2;
    
}

 */
