<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="Flavor">
        <h1>FlavorXP</h1>
    </div>
    <div class="container">
        <h2>Avaliação</h2>
        <form action="/submit" method="post">
            <label for="name">Nome:</label>
            <input type="text" id="name" name="name" required>
            <label for="comments">Comentários:</label>
            <textarea id="comments" name="comments" rows="4" required></textarea>
            <h3>Avalie:</h3>
            <label for="frontend">Front-end:</label>
            <div class="stars front-end">
                <input type="hidden" id="ratingFrontEnd" name="ratingFrontEnd" value="0" required>
                <i class="fas fa-star" data-star="1"></i>
                <i class="fas fa-star" data-star="2"></i>
                <i class="fas fa-star" data-star="3"></i>
                <i class="fas fa-star" data-star="4"></i>
                <i class="fas fa-star" data-star="5"></i>
            </div>

            <label for="backend">Back-end:</label>
            <div class="stars back-end">
                <input type="hidden" id="ratingBackEnd" name="ratingBackEnd" value="0" required>
                <i class="fas fa-star" data-star="1"></i>
                <i class="fas fa-star" data-star="2"></i>
                <i class="fas fa-star" data-star="3"></i>
                <i class="fas fa-star" data-star="4"></i>
                <i class="fas fa-star" data-star="5"></i>
            </div>

            <label for="stand">Nosso Stand:</label>
            <div class="stars stand">
                <input type="hidden" id="ratingStand" name="ratingStand" value="0" required>
                <i class="fas fa-star" data-star="1"></i>
                <i class="fas fa-star" data-star="2"></i>
                <i class="fas fa-star" data-star="3"></i>
                <i class="fas fa-star" data-star="4"></i>
                <i class="fas fa-star" data-star="5"></i>
            </div>

            <label for="projeto">Projeto:</label>
            <div class="stars projeto">
                <input type="hidden" id="ratingProjeto" name="ratingProjeto" value="0" required>
                <i class="fas fa-star" data-star="1"></i>
                <i class="fas fa-star" data-star="2"></i>
                <i class="fas fa-star" data-star="3"></i>
                <i class="fas fa-star" data-star="4"></i>
                <i class="fas fa-star" data-star="5"></i>
            </div>
            <input type="hidden" id="rating" name="rating" value="0" required>
            <button type="submit">Submit</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='review.js') }}"></script>

</body>

</html>