body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    padding: 10px;
    overflow: hidden;
}

.container {
    max-width: 600px;
    margin: auto;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: left;
    color: #4E008E; /* Purple */
    margin-left: 40px;
}

h2 {
    text-align: center;
    color: #4E008E;
}

form {
    text-align: center;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #4E008E; /* Purple */
    text-align: left;
    margin-left: 50px;
    font-size: medium;
}

form input, form textarea, form select {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #000000;
}

form button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #F1C400; /* Yellow */
    color: #ffffff;
    cursor: pointer;
}

form button:hover {
    background-color: #f1c500b1; /* Darker Yellow */
    color: #ffffff;
}

form button:active {
    background-color: #f1c500c8; /* Even Darker Yellow */
}

.thank-you {
    text-align: center;
    margin-top: 20px;
}

.stars {
    margin-bottom: 20px;
    margin-left: 50px;
    text-align: left;
}

.stars .fas {
    color: #F1C400; /* Yellow */
    font-size: 30px;
    cursor: pointer;
}

.stars .fas.checked ~ .fas {
    color: #d3d3d3;
}

.stars .fas:hover ~ .fas {
    color: #f1c500b8; /* Darker Yellow */
}

#comments {
    max-width: 80%;
    max-height: 30px;
    min-width: 80%;
    min-height: 30px;
}