/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: left;
    margin-left: 30px;
    color: #4E008E; /* Purple */
}

h2 {
    text-align: center;
    color: #4E008E;
}

.thank-you {
    text-align: center;
    margin-top: 20px;
}

.thank-you h2 {
    color: #4E008E; /* Purple */
}

.thank-you p {
    color: #333;
}

a {
    color: #F1C400; /* Blue */
    text-decoration: none;
    margin-left: 400px;
    padding: 5px;
    font-weight: bold;
    
}

a:hover {
    color: #4E008E; /* Darker Blue */
}

a:active {
    color: #F1C400; /* Even Darker Blue */
}
