{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'angeline/editar_host.css' %}">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1>Criar Host</h1>
        <form method="post" action="{% url 'angeline:criar_host' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Salvar</button>
        </form>
    </div>
</body>

</html>