{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Host</title>
    <link rel="stylesheet" href="{% static 'angeline/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'angeline/editar_host.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Outfit' rel='stylesheet'>
</head>

<body>
    <div class="container">
        <h1>Editar Host</h1>
        <form method="post" action="{% url 'angeline:editar_host' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
        
            <button type="submit">Salvar</button>
        </form>
        
    </div>
</body>


</html>
