{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{% static 'angeline/editar_evento.css' %}">
    
    <title>Editar Evento</title>
</head>

<body>
    <div class="container">
        <h2 class="titulo">Editar Evento</h2>
        
        <img class="imagem" src="{{ evento.fotos.url }}" alt="Imagem do evento">
        
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="butao" type="submit">Salvar Alterações</button>
        </form>

        <a class="voltar"  href="{% url 'angeline:home' %}">Cancelar</a>

    </div>
</body>

</html>
