<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listar Produtos</title>
</head>
<body>
    <h1>Listar Produtos</h1>


    <form method="get" action="">
        {{ form.cidade }}
        <input type="submit" value="Filtrar">
    </form>

    {% for produto in produtos %}
        <p>{{ produto.nome }} - R$ {{ produto.preco }} - {{ produto.categoria }} - {{ produto.cidade }}</p>
    {% endfor %}
</body>
</html> -->


<!-- <!DOCTYPE html>
<html>
<head>
    <title>Filtro de Cidades</title>
</head>
<body>
    <form method="post" action="{% url 'angeline:filtrar_cidades' %}">
        {% csrf_token %}
        <label for="filtro">Digite o nome da cidade:</label>
        <input type="text" name="filtro" required>
        <button type="submit">Filtrar</button>
    </form>
</body>
</html> -->


<!DOCTYPE html>
<html>
<head>
    <title>Filtro de Cidades</title>
</head>
<body>
    <form method="post" action="{% url 'angeline:filtrar_cidades' %}">
        {% csrf_token %}
        <label for="filtro">Digite o termo:</label>
        <input type="text" name="filtro" required>
        <button type="submit">Filtrar</button>
    </form>
</body>
</html>

