{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'angeline/gerenciamento.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Outfit' rel='stylesheet'>
    <title>Gerenciamento</title>
</head>
<body>
    <div class="container">
    <h1 class="titulo">Seus eventos</h1>

    {% for evento in eventos %}
        <p class="evento"><a href="{% url 'angeline:specific_page' evento.id %}">{{ evento.tema }}</a></p>
        <p>{{ evento.descricao }}</p>
        <div><a class="specific"  href="{% url 'angeline:specific_page' evento.id %}">Detalhes do Evento</a></div>
        <div><a class="editar" href="{% url 'angeline:editar_evento' evento.id %}">Editar</a></div>
        <form action="{% url 'angeline:excluir_evento' evento.id %}" method="post">
            {% csrf_token %}
            <button class="butao" type="submit">Excluir Evento</button>
        </form>

    {% empty %}
        <p>Você ainda não criou nenhum evento.</p>
    {% endfor %}

    <div class="voltar"><a href="{% url 'angeline:host' %}">Voltar</a></div>

    </div>
</body>
</html>




