{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Outfit' rel='stylesheet'>
  <link rel="stylesheet" href="{% static 'angeline/style_home.css' %}">
  <title>FlavorXP</title>
</head>

<body>

  <nav style="width: 1440px; height: 125px; left: 0px; top: 0px; position: absolute">
    <div class="retangulo_nav"></div>
    <div class="logo">FlavorXP</div>
    <ul>
      {% if request.user.host %}
      <li class="nav-link-evento"><a href="{% url 'angeline:evento' %}">Criar Evento</a></li>
      {% else %}
      <li class="nav-link-host"><a href="{% url 'angeline:criar_host' %}">Seja Host</a></li>
      {% endif %}
      {% if form_preenchido %}
      <li class="nav-link-perfil"><a href="{% url 'angeline:perfil' %}"><img class="perfil_usuario"
            src="angeline/static/img/male-profile.png" alt="Ícone Perfil"></a></li>
      {% else %}
      <li class="nav-link-perfil"><a href="{% url 'angeline:completar_perfil' %}">Complete seu perfil</a></li>
      {% endif %}
      <li class="nav-link-sair"><a href="{% url 'main:home_page' %}">Sair</a></li>

    </ul>
  </nav>
  <main>
    <div class="feed-container">
      {% for evento in eventos %}
      <a href="{% url 'angeline:specific_page' evento_id=evento.id %}" class="feed-item">
        {% if evento.fotos %}
        <img src="{{ evento.fotos.url }}" alt="{{ evento.tema }}">
        {% else %}
        <p>Imagem não disponível</p>
        {% endif %}
        <h3>{{ evento.tema }}</h3>
        <p>{{ evento.descricao }}</p>
        <span>R$ {{ evento.valor_host }}</span>
      </a>
      {% endfor %}

    </div>

  </main>

  <footer>
    <div id="div_footer"></div>
    <div id="div2_footer">
      <div id="background_footer"></div>
      <div id="logo_footer">FlavorXP</div>
      <div id="divisor_footer"></div>
      <p id="direitos_reservados">© 2024 FlavorXP. Todos os direitos reservados.</p>
      <div id="instagram_footer"></div>
      <div id="slogan_footer" style="">Conectando pessoas por meio da gastronomia </div>
    </div>
  </footer>

</body>

</html>