{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="{% static 'angeline/bootstrap.css' %}">
    
    <link rel="stylesheet" href="{% static 'angeline/host.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Outfit' rel='stylesheet'>
</head>
<body>
    <div class="retangulo_nav"></div>
    <div class="editar_perfil">Editar perfil</div>
    <img class="circulo_foto" src="https://via.placeholder.com/156x156" />
    <div class="perfil_usuario">Perfil Usuário</div>
    <div class="perfil_host">Perfil Host</div>
    <div class="perfil_host_titulo">
        <span class="perfil_nav_host">Perfil</span>
        <span class="host_nav">Host</span>
        <span class="organizadora"></span>
    </div>
    <div class="ola_usuario">Olá Felipe</div>
    <div class="email_usuario">felipebs779@gmail.com</div>
    <div class="motivo">Motivo:</div>
    <div class="area_gastronomica">Área Gastronômica:</div>
    <div class="local_servico_desc">Descrição do Local de Serviço:</div>
    <div class="frequencia_servico">Frequência de Serviços:</div>
    <div class="servicos_disponiveis">Serviços Disponíveis:</div>
    <div class="fundo">
        <div class="retangulo_footer"></div>
        <div class="home_footer">Home</div>
        <div class="host">Host</div>
        <div class="logo_footer">FlavorXP</div>
        <div class="slogan_footer">Conectando pessoas por meio da gastronomia</div>
        <div class="direitos_reservados_footer">© 2024 MyFood. Todos os direitos reservados.</div>
    </div>
    <div class="local_servico">Local de Serviços:</div>
    <div class="editar_perfil">Editar Perfil</div>
</body>
