{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Host</title>
    <link rel="stylesheet" href="{% static 'angeline/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'angeline/host.css' %}">
</head>

<body>

    <div class="container">

        {% if form_preenchido %}
            <h1>Detalhes do Host</h1>
            <p>Nome da Empresa/Marca: {{ request.session.host_nome_empresa }}</p>
            <p>Motivo: {{ request.session.host_motivo }}</p>
            <p>Área Gastronômica: {{ request.session.host_get_area_gastronomia_display }}</p>
            <p>Serviços Disponíveis: {{ request.session.host_servicos }}</p>
            <p>Frequência de Serviços: {{ request.session.host_get_frequencia_servicos_display }}</p>
            <p>Local de Serviço: {{ request.session.host_local_servico }}</p>
            <p>Descrição do Local de Serviço: {{ request.session.host_descricao_local }}</p>

            <a href="{% url 'angeline:editar_host' %}?edit=1">Editar</a>
            <a href="{% url 'angeline:home' %}">Home</a>
        {% else %}
            <h1>Seja Host</h1>
            <form method="post" action="{% url 'angeline:editar_host' %}?edit=1">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Salvar</button>
            </form>
            <a href="{% url 'angeline:home' %}">Home</a>
        {% endif %}
    </div>    
</body>

</html>
