{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{% static 'angeline/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'angeline/agendar.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Outfit' rel='stylesheet'>
    <title>Agendamentos</title>
</head>
<body>

    <div class="container">
        <h2 class="titulo">Suas Reservas</h2>

        {% for reserva in reservas %}
        <p>Evento: {{ reserva.evento.tema }} - Pessoas: {{ reserva.quantidade_pessoas }} - Nomes: {{ reserva.nomes_pessoas }}</p>
        <form action="{% url 'angeline:cancelar' reserva.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="butao">Cancelar</button>
        </form>
        {% empty %}
        <p>Você não tem nenhuma reserva.</p>
        {% endfor %}



        <a class="voltar" href="{% url 'angeline:perfil' %}">Voltar</a>
    </div>

</body>
</html>