{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="{% static 'angeline/bootstrap.css' %}">

    <link rel="stylesheet" href="{% static 'angeline/perfil.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Outfit' rel='stylesheet'>
</head>

<body>
    <div class="container">
        {% if form_preenchido %}
        <div class="retangulo_nav"></div>
        <div class="ola_usuario">Olá {{ perfil_usuario.usuario }}</div>
        <a class="perfil_usuario" href="{% url 'angeline:perfil' %}">Perfil Usuário</a>
        {% if form_preenchido %}
        <a class="perfil_host" href="{% url 'angeline:host' %}">Perfil Host</a>
        {% else %}
        <a class="perfil_host" href="{% url 'angeline:editar_host' %}">Perfil Host</a>
        {% endif %}

        <nav>
            <div class="titulo_perfil_host">
              <span class="span_perfil">Perfil</span>
              <span class="espaco_perfil_usuario"> </span>
              <span class="usuario_titulo">Usuário</span>
            </div>
            <ul class="perfil_list">
              <li><a class="editar_perfil_convidado" href="{% url 'angeline:editar_perfil' %}">Editar perfil</a></li>
              <!-- <li><div class="email_usuario">{{ user.email }}</div></li> -->
              <li class="cpf_usuario"><span class="cpf">CPF: {{ perfil_usuario.cpf }}</span></li>
              <li class="cep_usuario"><span class="cep">CEP:</span> <span class="numero_cep">{{ perfil_usuario.cep }}</span></li>
              <li class="telefone_usuario">Telefone: {{ perfil_usuario.telefone }}</li>
            </ul>
          </nav>
          
          
            <div class="cidade_usuario">Cidade: {{ perfil_usuario.cidade }}</div>
            <div class="estado_usuario">Estado: {{ perfil_usuario.estado }}</div>
            
            <div class="data_nascimento_usuario">Nascimento: {{ perfil_usuario.nascimento }}</div>
            <div class="idiomas">Idiomas: {{ perfil_usuario.idioma }}</div>
            <div class="restricoes_alimentares">Restrições Alimentares: {{ perfil_usuario.restricao }}</div>
            <div class="bebida_favorita">Bebida Favorita: {{ perfil_usuario.bebida }}</div>
            <div class="comida_favorita">Comida Favorita: {{ perfil_usuario.comidaf }}</div>
            <div class="profissao_usuario">Profissão: {{ perfil_usuario.profissao }}</div>
            <container>
                <div class="sobre_usuario">Sobre: {{ perfil_usuario.sobre }}</div>
            </container>
            <div class="hobbies">Hobbies: {{ perfil_usuario.hobbie }}</div>
            {% if form.instance.foto %}
            {% with foto_url=form.instance.foto.url %}
            <img class='imagem_usuario' src="{{ foto_url }}" alt="Foto de Perfil">
            {% endwith %}
            {% else %}
            <img class='imagem_usuario' src="angeline/static/img/default-user.png" alt="Foto de Perfil">
            {% endif %}
            <div class="footer_retangulo">
                <div class="footer_retangulo2"></div>
                <a class="editar_perfil" href="{% url 'angeline:editar_perfil' %}">Editar Perfil</a>
                <a class="home_footer" href="{% url 'angeline:home' %}">Home</a>
                <a class="host_footer" href="{% url 'angeline:host' %}">Host</a>
                <div class="flavorxp_footer">FlavorXP</div>
                <div class="slogan_footer">Conectando pessoas por meio da gastronomia</div>
            </div>
            <div class="direitos_reservados">© 2024 MyFood. Todos os direitos reservados.</div>

            {% else %}
            <h1>Complete seu perfil</h1>
            <form method="post" action="{% url 'angeline:perfil' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Salvar</button>
            </form>
            <a href="{% url 'angeline:home' %}">Home</a>
            {% endif %}

        </div>
</body>

</html>