{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{% static 'angeline/specific_page.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Outfit' rel='stylesheet'>

    <title>Document</title>
</head>

<body>

    
        <img class="imagem_evento" src="{{ evento.fotos.url }}" />
        <div class="gradiente_imagem"></div>
        <div class="nome_do_evento">{{ evento.tema }}</div>
        <div class="estilo_da_experiencia">Estilo da experiência:</div>
        <div class="quadrado_conteudo1"></div>
        <div class="jantar">{{ evento.estilo }}</div>
        <div class="nome_da_marca_oferece">
        <span class="nome_da_marca">{{ evento.host }} </span>
        <span class="oferece">oferece:</span>
        </div>
        <div class="barra1"></div>
        <div class="barra2"></div>
        <div style="width: 522px"><span style="color: black; font-size: 24px; font-family: Outfit; font-weight: 700; word-wrap: break-word">Descrição: </span><span style="color: black; font-size: 24px; font-family: Outfit; font-weight: 200; word-wrap: break-word">{{ evento.descricao }}</span></div>
        <div class="barra3"></div>
        <img class="icone_estilo_experiencia" src="https://via.placeholder.com/90x90" />
        <div class="cardapio">Cardápio</div>
        <div class="quadrado_conteudo_roxo"></div>
        <div class="convidados">Convidados:</div>
        <div class="quadrado_conteudo2"></div>
        <div class="convidados">Convidados</div>
        <div class="numero_convidados">{{ evento.max_convidados }}</div>
        <div class="incluso_restricao">Incluso para restrição:</div>
        <div class="quadrado_conteudo3"></div>
        <div class="tipo_restricao">{{ evento.restricao }}</div>
        <div class="data_e_horario">Data e Horário:</div>
        <div class="quadrado_conteudo4"></div>
        <div class="data">{{ evento.data }}</div>
        <div class="as">às</div>
        <div class="horario">{{ evento.horario }}h</div>
        <div class="icone_cardapio"></div>
        <div class="acesse">Acesse</div>
        <div class="bebidas_oferecidas">Bebidas oferecidas:</div>
        <div class="quadrado_conteudo_roxo2"></div>
        <div class="acesse2">Acesse</div>

        <div class="localizacao">Localização</div>
        <div class="sombra"></div>
        <div class="descricao_do_evento_no_card_de_pagamento">Jantar para {{ evento.max_convidados }} convidados  no dia {{ evento.data }} às {{ evento.horario }}h</div>
        <img class="local_localizacao" src="https://via.placeholder.com/1290x290" />
        <div class="retangulo_degrade_pgto"></div>
        <div class="valor_da_experiencia">Valor da experiência</div>
        <div class="preco">R${{ evento.valor_host }}</div>
        <div class="botão_agendar"></div>
        <div class="texto_agendar_pgto">Agendar</div>


    <!-- <h1>{{ evento.tema }}</h1>
    <p>Estilo {{ evento.estilo }}</p>
    
    <img src="{{ evento.fotos.url }}" alt="Foto do evento">
    
    <a href="{% url 'angeline:host_servico' evento.id %}">
        <p>{{ evento.host }}</p>
    </a>
    <p>Descrição: {{ evento.descricao }}</p>
    <p>Cardápio: {{ evento.cardapio }}</p>
    <p>Bebidas oferecidas: {{ evento.bebidas_oferecidas }}</p>
    <p>Lotação máxima: {{ evento.max_convidados }}</p>
    <p>Localização: {{ evento.local }}</p>
    <p>Data: {{ evento.data }}</p>
    <p>Horário: {{ evento.horario }}</p>
    <p>Valor: {{ evento.valor_host }}</p>
    <p>Incluso para alguma restrição: {{ evento.restricao }}</p>

    {% if request.user.host and evento.host.usuario == request.user %}
    <a href="{% url 'angeline:editar_evento' evento_id=evento.id %}">Editar evento</a>
    <a href="{% url 'angeline:excluir_evento' evento_id=evento.id %}">Excluir evento</a>
    {% else %}
    <a href="{% url 'angeline:agendamento' evento_id=evento.id %}">Agendar</a>
    {% endif %}
    <a href="{% url 'angeline:home' %}">Voltar</a> -->

</body>

</html>
