{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Outfit' rel='stylesheet'>
    <link rel="stylesheet" href="main/static/style_base.css">
    <title>MyFood</title>
</head>

<body>
    
    <nav style="width: 1440px; height: 125px; left: 0px; top: 0px; position: absolute">
        <div class="retangulo_nav"></div>
        <div class="logo">MyFood</div>
        <ul>
            <li class="nav-link nav-link-signup"><a id="acad" href="#">Cadastre-se</a></li>
            <li class="nav-link nav-link-about"><a href="#">Sobre</a></li>
            <li class="nav-link nav-link-guide"><a href="#">Guia</a></li>
            <li class="nav-link nav-link-login"><a href="#">Entrar</a></li>

        </ul>
    </nav>

    <main>
            <div style="width: 1440px; height: 1024px; background: #F1C400;"></div>
            <button class="botao-customizado2" type="button">Cadastre-se</button>
            <div style="width: 573px; height: 557px; left: -220px; top: 387px; position: absolute; background: #4E008E; border-radius: 9999px; backdrop-filter: blur(4px)"></div>
            <div class="texto1">"Sabores que unem, experiências que encantam”<br/><br/></div>
            <div style="width: 504px; height: 112px; left: 765px; top: 594px; position: absolute; color: black; font-size: 46px; font-family: Outfit; font-weight: 300; word-wrap: break-word">Bem-vindo ao nosso  universo gastronômico!<br/><br/></div>
            <img class="imagem_frango_home" src="angeline/static/img/frango_home.jpg" />
            <div class="palito palito_roxo1"></div>
            <div class="palito palito_roxo2"></div>
            <div class="palito palito_roxo3"></div>
            <div class="palito palito_roxo4"></div>
            <div class="palito palito_roxo5"></div>
            <div class="background_roxo_home" style="width: 1440px; height: 1017px; left: 0px; top: 1024px; position: absolute; background: #4E008E"></div>
            <div class="quadrado_amarelo_sob_imagem_home" style="width: 688px; height: 426px; left: 618.50px; top: 1316px; position: absolute; background: #F1C400"></div>
            <img id="imagem_pessoas_mesa_home" style="width: 660px; height: 421px; left: 599px; top: 1278px; position: absolute; border-radius: 5px" src="angeline/static/img/grupo_de_pessoas_home.jpg" />
            <div class="frase_bem_vindo_home" style="width: 378px; height: 394px; left: 194px; top: 1305px; position: absolute; text-align: right; color: white; font-size: 24px; font-family: Outfit; font-weight: 400; word-wrap: break-word">Bem-vindo à nossa plataforma gastronômica, onde transcender os limites da culinária é a nossa missão. Aqui, não conectamos apenas pessoas através de sabores excepcionais, mas também por afinidades culturais, musicais e além. Ao unir Hosts apaixonados por cozinhar e Convidados em busca de experiências autênticas, criamos encontros que vão além do paladar.<br/><br/></div>
            <div class="frase_chamativa_home" style="width: 1071px; left: 188px; top: 1812px; position: absolute; text-align: center"><span style="color: white; font-size: 24px; font-family: Outfit; font-weight: 600; word-wrap: break-word">Seja parte dessa comunidade onde a diversidade de gostos se entrelaça, transformando cada refeição em uma celebração única que reflete não apenas o sabor, mas também as riquezas culturais e os interesses compartilhados. </span><span style="color: #F1C400; font-size: 28px; font-family: Outfit; font-weight: 600; word-wrap: break-word">Junte-se a nós para descobrir como a culinária se torna a trilha sonora de novas amizades e a expressão autêntica de quem somos.<br/></span><span style="color: white; font-size: 24px; font-family: Outfit; font-weight: 600; word-wrap: break-word"><br/></span></div>
            <div class="palito_amarelo_home" style="width: 345px; height: 0px; left: 914px; top: 1263px; position: absolute; border: 5px #F1C400 solid"></div>
            <div class="palito_amarelo2_home" style="width: 255px; height: 0px; left: 1004px; top: 1242px; position: absolute; border: 5px #E9C300 solid"></div>
            <div class="sobre_o_myfood_home" style="left: 522px; top: 1124px; position: absolute; text-align: right"><span style="color: white; font-size: 48px; font-family: Outfit; font-weight: 500; word-wrap: break-word">Sobre</span><span style="color: white; font-size: 64px; font-family: Outfit; font-weight: 400; word-wrap: break-word">  </span><span style="color: #F1C400; font-size: 64px; font-family: Outfit; font-weight: 900; word-wrap: break-word">MyFood</span></div>
            <div class="backgrond_amarelo2_home" style="width: 1440px; height: 1025px; left: 0px; top: 2041px; position: absolute; background: #F1C400"></div>
            <div class="como_funciona_home" style="left: 359px; top: 2141px; position: absolute; text-align: right"><span style="color: white; font-size: 64px; font-family: Outfit; font-weight: 400; word-wrap: break-word">Como funciona o </span><span style="color: #4E008E; font-size: 64px; font-family: Outfit; font-weight: 900; word-wrap: break-word">MyFood</span></div>
            <div class="entrar_home" style="width: 143px; height: 38px; left: 749px; top: 2849px; position: absolute; background: black; border-radius: 3px"></div>
            <div class="entrar_texto_home" style="left: 791px; top: 2851px; position: absolute"><span style="color: white; font-size: 20px; font-family: Outfit; font-weight: 400; word-wrap: break-word">Entrar</span><span style="color: white; font-size: 24px; font-family: Outfit; font-weight: 300; word-wrap: break-word"> </span></div>
            <div class="explicacao_myfood_home" style="width: 885px; left: 278px; top: 2222px; position: absolute; text-align: center; color: black; font-size: 16px; font-family: Outfit; font-weight: 400; word-wrap: break-word">Nossa plataforma online serve como um elo refinado entre anfitriões e convidados apaixonados pelo universo gastronômico e com interesses em comum, proporcionando aos anfitriões a oportunidade distinta de transformar suas habilidades culinárias em experiências remuneradas para os convidados.<br/><br/></div>
            <div class="retangulo_sob_imagem1_home" style="width: 345px; height: 208px; left: 188px; top: 2422px; position: absolute; background: #D9D9D9"></div>
            <div class="retangulo_sob_imagem2_home" style="width: 345px; height: 208px; left: 548px; top: 2422px; position: absolute; background: #D9D9D9"></div>
            <div class="retangulo_sob_imagem3_home" style="width: 345px; height: 208px; left: 908px; top: 2422px; position: absolute; background: #D9D9D9"></div>
            <div class="torne-se_um_anfitriao_home" style="left: 224px; top: 2635px; position: absolute; text-align: right; color: black; font-size: 28px; font-family: Outfit; font-weight: 400; word-wrap: break-word">Torne-se um Anfitrião</div>
            <div class="seja_um_convidado_home" style="left: 603px; top: 2635px; position: absolute; text-align: right; color: black; font-size: 28px; font-family: Outfit; font-weight: 400; word-wrap: break-word">Seja um convidado</div>
            <div class="agende_sua_refeicao_home" style="left: 943px; top: 2635px; position: absolute; text-align: right; color: black; font-size: 28px; font-family: Outfit; font-weight: 400; word-wrap: break-word">Agende sua refeição</div>
            <div class="texto_img1_home" style="width: 345px; left: 188px; top: 2675px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Outfit; font-weight: 200; word-wrap: break-word">Cadastre-se como anfitrião e comece a ganhar dinheiro compartilhando suas habilidades culinárias.<br/><br/></div>
            <div class="texo_img2_home" style="width: 345px; left: 549px; top: 2675px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Outfit; font-weight: 200; word-wrap: break-word">Descubra uma variedade de anfitriões talentosos e desfrute de experiências gastronômicas únicas.<br/><br/></div>
            <div class="texto_img3_home" style="width: 345px; left: 904px; top: 2675px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Outfit; font-weight: 200; word-wrap: break-word">Escolha um anfitrião, selecione uma refeição e reserve sua experiência gastronômica.</div>
            <img id="imagem_churrasco_home" style="width: 345px; height: 208px; left: 188px; top: 2422px; position: absolute" src="angeline/static/img/churrasco_home.jpg" />
            <img id="imagem_seja_um_convidado_home" style="width: 345px; height: 208px; left: 549px; top: 2422px; position: absolute"src="angeline/static/img/seja_um_convidado_home.jpg"/>
            <img id="imagem_reserva_home" style="width: 345px; height: 208px; left: 908px; top: 2422px; position: absolute" src="angeline/static/img/reserva_home.jpg" />
            <button class="botao-customizado" type="button">
                <span>Cadastre-se</span>
            </button>
            
    </main>

    <footer>
        <div id="div_footer"></div>
        <div id="div2_footer">
            <div id="background_footer"></div>
            <div id="logo_footer">MyFood</div>
            <div id="divisor_footer"></div>
            <p id="direitos_reservados">© 2024 MyFood. Todos os direitos reservados.</p>
            <div><a id="sobre_footer" href="#">Sobre nós</a></div>
            <div><a id="guia_footer" href="#">Guia</a></div>
            <div><a id="cadastro_footer" href="#">Cadastre-se</a></div>
            <div><a id="entrar_footer" href="#">Entrar</a></div>
            <div id="instagram_footer"></div>
            <div id="slogan_footer"style="">Conectando pessoas por meio da gastronomia </div>
        </div>
    </footer>

</body>

</html>
